<!DOCTYPE html>
<html>
  <head>
    <title>Choco</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="Sign_upLogin" id="container">
      <div class="consumer_header">
        <% if current_consumer %>
          Welcome <%= current_consumer.email %>
          <%= link_to "logout", session_path("current"), method: "delete" %> <%# remove method "delete after creating resources routes" %>
        <%else %>
          <%= link_to "Sign Up", new_consumer_path %> <%# for now this is the path %>
          <%= link_to "Log In", new_consumer_path %> <%# for now this is the path %>
        <% end %>
      </div>
    </div>

<h1>Log in for a taste!</h1> <%#this will be hidden until clicked on log in link MAIN.JS FILE SHOULD DO THIS ACTION %>
    <div class="HiddenLogin" id="container">
      <%= form_tag sessions_consumers_path do %>
        <div class="email_field">
          <% label_tag :email %><br />
          <% text_field_tag :email, params[:email] %>
        </div>

        <div class="password_field" id="container">
          <%label_tag :password %> <br />
          <%text_field_tag :password, params[:password] %>
        </div>

        <div class="loginSubmit"><%= submit_tag "Log In" %></div>
    </div>

    <%= yield %>
  </body>
</html>
