<!DOCTYPE html>
<html>
  <head>
    <title>Choco</title>
    <%= csrf_meta_tags %>
 <!-- The stylesheet_link_tag and javascript_include_tag elements add CSS stylesheets
  and JavaScript from the Rails asset pipeline.
  The data-turbolinks-track attribute supports Rails Turbolinks.
  The csrf_meta_tags element is a view helper that prevents cross-site request forgeries
  when users input data in forms. -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>


</html>
